.container {
    padding: 20px;
    border: solid white 1px;
    border-radius: 20px;
    background-color: #302f33b2;
    width: 70%;
    max-height: 70%;
    color: white;
  }
  
  .text {
    color: white;
  }
  
  .btn-primary {
    background-color: blueviolet;
    align-items: center;
  }