.fondo-plomo-transparente {
  background-color: rgba(255, 255, 255, 0.634); /* Plomo con un 50% de opacidad */
  padding: 20px; /* Añade un poco de espacio alrededor del formulario */
  border-radius: 12px; /* Bordes redondeados */
  width: 100%; /* Cubre todo el ancho del div */
  box-sizing: border-box; /* Incluye el padding y el border dentro del ancho total */
}

  
  
  .btn-primary {
    background-color: blueviolet;
    align-items: center;
  }