<br><br><div class="container mt-3">
<h2 class="mb-4">Formulario de Creación de Libros</h2>

<form [formGroup]="miFormulario" (ngSubmit)="crearLibro()" class="row">
  <!-- Titulo -->
  <div class="col-md-6 form-group">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" formControlName="titulo" class="form-control" placeholder="Ingrese el título" />
    @if (tituloInvalid) {
      <div class="text-danger mt-2">El título es obligatorio.</div>
    }
  </div>
  <div class="col-md-6 form-group">
    <label for="titulo">Codigo:</label>
    <input type="text" id="codigo" formControlName="codigo" class="form-control" placeholder="Ingrese el codigo del libro " />
   
  </div>
  <div class="col-md-6 form-group">
    <label for="titulo">Editorial:</label>
    <input type="text" id="editorial" formControlName="editorial" class="form-control" placeholder="Ingrese el nombre de la editorial" />
   
  </div>
 

  <!-- Imagen -->
  <div class="col-md-6 form-group">
    <label for="imagen">Imagen URL:</label>
    <input type="text" id="imagen" formControlName="imagen" class="form-control" placeholder="Ingrese el nombre de la imagen" />
  </div>
  <div class="col-md-6 form-group">
    <label for="imagen">isbn:</label>
    <input type="text" id="isbn" formControlName="isbn" class="form-control" placeholder="Ingrese el nombre de la imagen" />
  </div>

  

  


  <!-- Fk Autor -->
  <div class="col-md-6 form-group">
    <label for="fk_autor">Autor:</label>
    <select class="form-select form-select-lg" id="fk_autor" formControlName="fk_autor">
      @for (autor of autors; track autor) {
        <option [value]="autor.id_autor">{{ autor.nombre }}</option>
      }
    </select>
  </div>

  <!-- Fk Carrera -->
  <div class="col-md-6 form-group">
    <label for="fk_carrera">Carrera:</label>
    <select class="form-select form-select-lg" id="fk_carrera" formControlName="fk_carrera">
      @for (carrera of carrer; track carrera) {
        <option [value]="carrera.id_carrera">{{ carrera.nombre }}</option>
      }
    </select>
  </div>

  <div class="col-md-6 form-group"> 
    <label for="fk_autor">tipo de libro:</label>
    <select class="form-select form-select-lg" id="tipo" formControlName="tipo" (change)="cambio($event)">
      @for (autor of tipos; track autor) {
        <option [value]="autor.id_tipo" >{{ autor.nombre }} </option>
      }
    </select>
  </div>
  <!-- Seleccionar Archivo -->
@if(tipo_selected ==='PDF'){
  <div class="col-md-12 form-group text-center">
    
      <input type="file" id="archivo" (change)="onFileSelected($event)" class="form-control-file "   />

  </div>
}@else{
  <div class="col-md-12 form-group">
    <label for="archivo_url">ULR del archivo:</label>
    <input type="text" id="archivo_url" formControlName="archivo_url" class="form-control" placeholder="Ingrese la url donde se encuentra el libro" />
  </div>
}
 
  <!-- Descripcion -->
  <div class="col-md-12 form-group">
    <label for="descripcion">Reseña o sinapsis</label>
    <textarea id="descripcion" formControlName="descripcion" class="form-control" placeholder="Ingrese una reseña"></textarea>
    @if (descripcionInvalid) {
      <div class="text-danger mt-2">La descripción no debe exceder los 500 caracteres.</div>
    }
  </div>



  

  <!-- Botón de Enviar -->
  <div class="col-md-12 form-group text-center"> <!-- Agrega la clase "text-center" -->
    <button type="submit" class="btn btn-primary">Crear Libro</button>
  </div>


  
</form>
</div>
