
<div class="catalogo-libros">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h1>Catálogo de Libros</h1>
    </div>
  </div>
  <div>
    <button type="button" routerLink="/profe/formulario" class="button-anadir">Añadir Libro</button>
  </div>
  <br>
    <div class="row libros">
      @for (libro of libros; track libro) {
        <div class="col-md-auto ">
          <div class="card card-body">
            <p>{{ libro.titulo | slice:0:25 }}</p>
            <p>Autor: {{ libro.autor  | slice:0:20 }}</p>
            <p>Carrera {{ libro.carrera }}</p>
            <img height="200" width="150" [src]="libro.imagen" (error)="eror_carga_imagen(libro)" alt="Portada">
            <br>
              <div class="text-center">
                <button type="button" (click)="descarga(libro.nombre_archivo,libro.id_libro)" class="button-descarga">Descargar</button>
              </div>
              <br>
                <div class="text-center">
                  <button class="bg-transparent btn" (click)="libro.id_libro !== undefined ? borrar(libro.id_libro.toString()) : null">
                    <span class="text-danger" >Eliminar</span>
                  </button>
                  <div>
                    <p style="display: inline-block; margin-right: 10px;">Descargas:</p>
                    <div class="descargas-circulo">
                      <p style="margin: 0;">{{libro.total_descargas}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
