<div class="catalogo-libros">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Catálogo de Libros</h1>
        </div>
    </div>
    <div>
        <button type="button" routerLink="/formulario" class="button-anadir">Añadir Libro</button>
    </div>
    <br>
    <div>
        <button type="button" routerLink="/crear-autores" class="button-anadir">Añadir Autor</button>
    </div>
    <br>
    <div class="row">
        <div *ngFor="let libro of libros" class="col-md-3">
            <div class="card card-body">
                <p>{{ libro.titulo }}</p>
                <p>Autor: {{ libro.autor }}</p>
                <img height="200" width="150" [src]="libro.imagenUrl" alt="Portada">
                <br>
                <div class="text-center">
                    <button type="button" routerLink="/" class="button-descarga">Descargar</button>
                </div>
                <br>
                <div class="text-center">
                    <a [routerLink]="['/libro', libro.id, 'editar']" class="link-sin-subrayado link-separado">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a [routerLink]="['/libro', libro.id, 'eliminar']" class="link-sin-subrayado">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>