<br><br><br>
<div class="catalogo-libros">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Catálogo de Libros</h1>
        </div>
    </div>
    <div>
        <button type="button" routerLink="/formulario" class="button-anadir">Añadir Libro</button>
    </div>
    <br>
    <div class="row libros">   
        <div *ngFor="let libro of libros" class="col-md-auto ">
            <div class="card card-body">

                <p>{{ libro.titulo }}</p>
                <p>Autor: {{ libro.autor }}</p>
                <p>Carrera {{ libro.carrera }}</p>
                <img height="200" width="150" [src]="libro.imagen" alt="Portada">
                <br>
                <div class="text-center">
                    <button type="button" (click)="descarga(libro.nombre_archivo,libro.id_libro)" class="button-descarga">Descargar</button>
                </div>
                <br>
                <div class="text-center">
                   
                    <a [routerLink]="['/libro', libro.id_libro, 'eliminar']" class="link-sin-subrayado">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                    <div>
                        <p style="display: inline-block; margin-right: 10px;">Descargas:</p>
                        <div class="descargas-circulo">
                          <p style="margin: 0;">{{libro.total_descargas}}</p>
                        </div>
                      </div>
                      
                
            </div>
        </div>
    </div>
</div>