
:host{
  display: grid;
  padding-top: 50px;  
  background-color: #fbf6d1;
  height: 100%;
  overflow-x: hidden;
}

.catalogo-libros .card {
  background-color: #302f33e8;
  color: white;
 
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
 
}
.descargas-circulo {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  background-color: #007bff; 
  color: #fff; 
}


.button-anadir {
  margin: 0 10px;
  border-radius: 10px;
  border-color: #553CEC;
  background-color: #553CEC;
  color: white;
}

.button-descarga {
  margin: 0 10px;
  border-radius: 10px;
  border-color: #553CEC;
  background-color: #553CEC;
  color: white;
}

.text-center {
  color: white;
}

.link-sin-subrayado {
  text-decoration: none;
}

.link-separado {
  margin-right: 80px;
}

.custom-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px; 
}
.libros{
  margin: 4%;
}
