# Nest (backend)
back_end/node_modules/
back_end/dist/
back_end/*.env

# Angular (web)
web/node_modules/
web/dist/
web/e2e/

# Flutter (mobil)
mobil/.dart_tool/
mobil/build/
mobil/.flutter-plugins
mobil/.flutter-plugins-dependencies
mobil/.idea/
mobil/*.iml
mobil/.vscode/

# IDE
.idea
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
