:host {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('src/assets/images/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.TituloPrincipal {
    color: rgb(205, 249, 249);
    text-align: center;
    font-size: 200px;
}

.mb-3 {
    display: grid;
    grid-template-columns: 800px 200px 100px;
}

.mb-3 input {
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

.mb-3 select {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

.mb-3 input::placeholder {
    font-size: 20px;
}

.buscar-btn {
    background-color: rgb(255, 255, 255);
    border: none;
    color: white;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    padding: 10px;
}

.buscar-btn i {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.libro{
    width: 200px;
    height: 50px;
    font-size: 30px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 20px;
}

@media (max-width: 1440px) {
    .TituloPrincipal {
        font-size: 100px;
    }

    .mb-3 {
        grid-template-columns: 400px 200px 100px;
        
   }

    .buscar-btn {
        background-color: rgb(255, 255, 255);
        border: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        padding: 10px;
    }
    
    .buscar-btn i {
        font-size: 25px;
    }
}
@media (max-width: 1000px) {
    .TituloPrincipal {
        font-size: 50px;
    }

    .mb-3 {
        grid-template-columns: 300px 100px 50px;
        
   }

    .libro{
        width: 100px;
        height: 25px;
        font-size: 15px;
    }
    .buscar-btn {
        background-color: rgb(255, 255, 255);
        border: none;
        color: rgb(0, 0, 0);
        cursor: pointer;

    }
    
    .buscar-btn i {
        font-size: 25px;
    }
}
