.all {
    background: url('https://yavirac.edu.ec/img/home/sliders/3.jpg') center center no-repeat;
    background-size: cover;
    padding-top:100px ;
}

.container {
    padding-top: 30px;
    max-width: 700px;
    max-height: 86vh;
    border-radius: 15px;
    background-color: rgba(55, 54, 54, 0.685);
    border: 1px solid #ccc; /* Borde para visualización */
    overflow: auto;
}

.text {
    text-align: center;
}

.bta {
    margin-left: 70%;
}
