<div class="card p-5 rounded-3 shadow-sm">
    <div class="card-body">
      <h5> generar  reporte de ingresos biblioteca fisica </h5>
      <button class="btn btn-primary mt-3" (click)="generar()" >Generar Reporte</button>
      <button (click)="generar_pdf()">Generar PDF</button>

    </div>
  </div>
  <div id="contentToConvert">

  @for (item of informe; track $index) {

    <div class="card mb-3 rounded" style="border-radius: 15px;">
        <div class="card-body">
          <div class="row">
            <div class="col-12 bg-warning">
              <p class="card-text"><strong>ID Ingreso:</strong> {{ item.id_ingreso }}</p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong> Usuario:</strong> {{ item.usuario }}</p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong> Correo:</strong> {{ item.email }}</p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong>Hora Entrada:</strong> {{ item.hora_entrada | date:'shortTime' }}</p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong>Hora Salida:</strong> {{ item.hora_salida | date:'shortTime' }}</p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong>Actividad:</strong> {{ item.actividad }}</p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong>Actividad:</strong> {{ item.actividad_s }}</p>
            </div>
         
            <div class="col-6">
              <p class="card-text"><strong> Carreara:</strong> {{ item.carrera }}</p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong> nivel:</strong> {{ item.nivel }}</p>
            </div>
          </div>
        </div>
      </div>
      
      
  }
</div>