

<h4 class=" text-center bg-dark text-white m-5 p-0">Inicio de sesión</h4>

<div class="mx-5 " > 
  <div class="row">
    <div class="col-sm">

      <label for="inicio">fecha inicio</label>
      <input id="inicio" class="form-control"   [(ngModel)]="fecha" type="date">
    </div>
    <div class="col-sm">

      <label for="fin">fecha fin</label>
      <input id="fin" class="form-control"   [(ngModel)]="fechaf" type="date">
    </div>
  </div>
  <button [disabled]="!fecha" class="btn btn-success mt-2" (click)="generar_informe()"> imprimir reporte</button>

</div>
<br>
<div>
  <h2>Estadísticas de Ingresos</h2>
  <apx-chart
    [series]="seriesIngresos"
    [chart]="chartIngresos"
    
    [xaxis]="xaxisIngresos"
    [yaxis]="yaxisIngresos"
    [tooltip]="tooltipIngresos"
  ></apx-chart>
</div>



<h4 class=" text-center bg-dark text-white m-5 p-0">Préstamo</h4>
<div class="mx-5 " > 
  <div class="row">
    <div class="col-sm">

      <label for="inicio">fecha inicio</label>
      <input id="inicio" class="form-control"   [(ngModel)]="fecha" type="date">
    </div>
    <div class="col-sm">

      <label for="fin">fecha fin</label>
      <input id="fin" class="form-control"   [(ngModel)]="fechaf" type="date">
    </div>
  </div>
  <button [disabled]="!fecha" class="btn btn-success mt-2" (click)="generar_informe_prestamos()"> imprimir reporte</button>

</div>
<apx-chart
[series]="seriesPrestamos"
[chart]="chartPrestamos"
[xaxis]="xaxisPrestamos"
[colors]="colorsPrestamos"
[yaxis]="yaxisPrestamos"
[tooltip]="tooltipPrestamos"
></apx-chart>







