<app-buscador class="d-flex justify-content-center"></app-buscador>
@if(etiquetas[0]){
  @if (etiquetas[0].nombre) {
    
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col" >
          <div class="etiquetas-container">
            @for(etiqueta of etiquetas ; track etiqueta.id_palabra) {
              <button class="etiqueta" (click)="buscar_etiqueta(etiqueta.nombre)">
                <p class="etiqueta_texto text-white">{{ etiqueta.nombre }}</p>
              </button>
              
            }
          </div>
        </div>
      </div>
    </div>
  }

}

<div class="container text-center">
  <h1 class="text-back bg-white rounded">{{libro.titulo | uppercase}}</h1>
<br>

  <div class="row">

    <div class="col-md-4">
      <!-- imagen -->
      <div class="d-flex justify-content-center">
        @defer{
          <img [src]="imagen" alt="imagen no encontrada" (error)="eror_carga_imagen()" class="img-fluid  imagen-responsive">

        }@loading {
       <div class="img-fluid img-thumbnail imagen-responsive">cargando.....</div>
        }
      </div>
      <br>
     

      @if(libro.tipo ==='PDF'){
     
      
      }@else if (libro.tipo==='URL') {
        <div class="d-flex justify-content-center">
      <a href='{{libro.nombre_archivo}}' target="_blank" class="btn btn-primary">
        <button class="btn btn-warning btn-lg">Ir al link del pdf</button>
      </a>
        </div>
      }@else if (libro.tipo ==='FISICO') {
        @if (libro.cantidad > 0) {
          <div class="d-flex justify-content-center">
            <p class="bg-success">libro  dispinible </p>
          
            </div>
        }
        @else {
          <div class="d-flex justify-content-center">
            <p class="bg-danger">libro prestado o  no dispinible </p>
            </div>
        }
       
      }
    
    </div>

  
    <div class="col-md-7">
      
      <div class="description-container">

        
        <div class="border rounded border-black">
          <div class="card-header bg-dark text-white">
            <h3>Información del libro</h3>
          </div>
          <div class="card-body">
            <h3 class="card-title">Descripción</h3>
            <div class="description-container">
              <p class="card-text">
                {{libro.descripcion}}
              </p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="col-5">
                <p><strong>Autor:</strong> {{libro.autor}}</p>
                <p><strong>ISBN:</strong> {{libro.isbn}}</p>
                <p><strong>Editorial:</strong> {{libro.editorial}}</p>
                <p><strong>Año del libro:</strong> {{libro.year_of_publication}}</p>
              </div>
              <div class="col-7">
                <p><strong>Subido por:</strong> {{libro.profesor}}</p>
              </div>
            </div>
            <p><strong>Descripción:</strong> {{libro.review}}</p>
            <div class="text-left p-2">
              @if(libro.tipo ==='FISICO'){
                <p class="">Ubicacion:</p>
                <p><strong>Estante:{{libro.estante}}</strong></p>
                <p><strong>Seccion:{{libro.seccion}}</strong></p>
               
                <p><strong>Codigo:{{libro.codigo}}</strong></p>
              }
            </div>
           
          </div>
         
        </div>
      </div>
      
    </div>
    
  </div>
 
 
 
<hr>
  <br>
  @if(libro.tipo ==='PDF'){
  <embed oncontextmenu="return false;" [src]="pdfUrl" type="application/pdf" width="100%" height="1200px "
    sandbox="allow-same-origin allow-scripts allow-forms" />


  }@else if(libro.tipo ==='URL') {
  <div>
    <embed oncontextmenu="return false;" [src]="urlSegura" width="100%" (error)="error_carga_pdf()" height="1200px"
      type="application/pdf" sandbox="allow-same-origin allow-scripts allow-forms">
  </div>
  }
</div>