.title{
   display: flex;
    height: 29rem;
    max-width: 60rem;
    padding: 6.4375rem 3.5625rem 5.6875rem 1.875rem;
    align-items: center;
    margin-left: -25px;
    border-radius: 0rem 50rem 0rem 0rem;
    background: #1e1d1d;
}
.infomacion{
    margin-top: 50px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.info{
    padding: 20px;
    background: white;
}