<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">SEGURO QUE DESEAS ELIMINAR ESTA CARRERA</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
        <button type="button" class="btn btn-danger" (click)="eliminar()">ELIMINAR</button>
      </div>
    </div>
  </div>
</div>

<!-- app.component.html -->

<div class="all">

  <div class="container">


    @if (errorAlerta) {
      <div class="alert alert-danger" role="alert">
        El nombre de la carrera ya existe.
      </div>
    }
    @if (Alertabien) {
      <div class="alert alert-success" role="alert">
        Carrera creada con éxito.
      </div>
    }

    <h3 class=" text text-light text-center">CREAR CARRERA</h3>
    <form (ngSubmit)="crearCarrera()" class="mt-3">
      <!-- Agrega otros campos del formulario según la estructura de tu objeto carrera -->

      <div class="mb-3 input-group">
        <label for="nombre" class="form-label sr-only">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="carrera.nombre" class="form-control" placeholder="Nombre" required>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary" [disabled]="!carrera.nombre">Crear</button>
        </div>
      </div>
    </form>






    <h3 class="text text-light">LISTA DE CARRERAS</h3>
    <br>
      @for (carrera of Carreras; track carrera) {
        <div>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <h4>{{carrera.nombre}}</h4>
              <div>
                <button (click)="test(carrera.id_carrera)" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  ELIMINAR
                </button>
              </div>
            </li>
            <br>
            </ul>
          </div>
        }
      </div>
    </div>
