<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2>Editar Libro</h2>
    </div>
  </div>
  <form [formGroup]="libroForm" (ngSubmit)="guardarCambios()" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="titulo">Título:</label>
          <input type="text" id="titulo" class="form-control" formControlName="titulo" required>
          @if (libroForm.get('titulo')?.invalid && libroForm.get('titulo')?.touched) {
            <div class="text-danger">
              El título es requerido.
            </div>
          }
        </div>
        <div class="form-group">
          <label for="fechaPublicacion">Fecha de publicación:</label>
          <input type="date" id="fechaPublicacion" class="form-control" formControlName="fechaPublicacion" required>
          @if (libroForm.get('fechaPublicacion')?.invalid && libroForm.get('fechaPublicacion')?.touched) {
            <div
              class="text-danger">
              La fecha de publicación es requerida.
            </div>
          }
        </div>
        <div class="form-group">
          <label for="paginas">Páginas:</label>
          <input type="number" id="paginas" class="form-control" formControlName="paginas" required>
          @if (libroForm.get('paginas')?.invalid && libroForm.get('paginas')?.touched) {
            <div class="text-danger">
              El número de páginas es requerido.
            </div>
          }
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="autor">Autor:</label>
          <input type="text" id="autor" class="form-control" formControlName="autor" required>
          @if (libroForm.get('autor')?.invalid && libroForm.get('autor')?.touched) {
            <div class="text-danger">
              El autor es requerido.
            </div>
          }
        </div>
        <div class="form-group">
          <label for="materia">Materia:</label>
          <input type="text" id="materia" class="form-control" formControlName="materia" required>
          @if (libroForm.get('materia')?.invalid && libroForm.get('materia')?.touched) {
            <div class="text-danger">
              La materia es requerida.
            </div>
          }
        </div>
        <div class="form-group">
          <label for="carreras">Carreras:</label>
          <input type="text" id="carreras" class="form-control" formControlName="carreras" required>
          @if (libroForm.get('carreras')?.invalid && libroForm.get('carreras')?.touched) {
            <div class="text-danger">
              Las carreras son requeridas.
            </div>
          }
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" class="form-control" formControlName="descripcion" required></textarea>
      @if (libroForm.get('descripcion')?.invalid && libroForm.get('descripcion')?.touched) {
        <div class="text-danger">
          La descripción es requerida.
        </div>
      }
    </div>
    <br>
      <div class="form-group">
        <label for="imagenUrl">URL de la imagen:</label>
        <input type="text" id="imagenUrl" class="form-control" formControlName="imagenUrl" required>
        @if (libroForm.get('imagenUrl')?.invalid && libroForm.get('imagenUrl')?.touched) {
          <div class="text-danger">
            La URL de la imagen es requerida.
          </div>
        }
      </div>
      <br>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="libroForm.invalid">Guardar Cambios</button>
        </div>
        <br>
          @if (guardadoExitoso) {
            <div class="alert alert-success text-center">
              Cambios guardados.
            </div>
          }
        </form>
      </div>