:host{
  display: grid;
  height: 100%;
  padding-top: 50px;
  background-color: #F1F5F9;
  overflow-x: hidden;
}
.card:hover .overlay {
  border-radius: 5%;
  opacity: 1; /* Muestra el overlay cuando se hace hover */
}
.card{
  padding-top: 10px;
  border: 50px;
}
.card-img-container {
  padding: 5%;
  /* Ajusta este valor según tus necesidades */
  max-height: 470px; /* Ajusta este valor según tus necesidades */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ro{
  border-radius: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Oculta el texto inicialmente */
  transition:  0.5s; /* Transición suave */
  z-index: 2; /* Asegura que el overlay esté sobre el contenido */
}

.card-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto; /* Ajusta el tamaño automático según el contenido */
  padding: 30px;
  grid-gap: 15px;
}





.gallery__item {
  position: relative;
  border-radius: 15px;
  
 /* Permite posicionar elementos hijos */
}

.gallery_content {
  position: absolute;
  
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  z-index: 1;
  
  
}

.gallery__item-large{
  width: 100%;
  grid-column: span 2;
}

/* Ajusta el estilo del texto dentro del contenido según sea necesario */
.gallery_content h5,
.gallery_content p,
.gallery_content  {
  font-size: 20px;
  font-weight: 1000;
  margin: 0;
  width: 100%;
  
  
}
@media screen and (max-width: 768px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
     /* Ajusta el tamaño automático según el contenido */
    padding: 20px;
    grid-gap: 15px;
  }
  .gallery__item-large{
    width: 100%;
    grid-column: span 1;
  }
  }
  @media only screen and (max-width: 600px) {
    
    .pagination-buttons {
        
        padding: 10px; 
    }

    .btn {
        
        font-size: 12px;
        padding: 5px 10px;
    }
}




  
.search-container {
  padding-top: 20px;
  width: 80%;
}

.search-box {
  display: flex;
  border: 2px solid #000; 
  border-radius: 50px;
  overflow: hidden;
  width: 100%;
}

.search-input {
  
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-button-container {
  display: flex;
  align-items: center;
}

.search-button {
  background-color: #ff6600; 
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.search-button svg {
  fill: #fff; 
}

.search-button:hover {
  background-color: #0056b3; 
}
