.card-libro {
    position: relative;
    overflow: hidden;
  }
  
  .card-libro:hover .overlay {
    opacity: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Oscurecimiento del 80% */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card-libro:hover .btn-text-white {
    color: white;
  }
  