
  
  .search-container {
    padding-top: 20px;
    width: 80%;
  }
  
  .search-box {
    display: flex;
    border: 2px solid #000; 
    border-radius: 50px;
    overflow: hidden;
    width: 100%;
  }
  
  .search-input {
    
    border: none;
    outline: none;
    flex-grow: 1;
  }
  
  .search-button-container {
    display: flex;
    align-items: center;
  }
  
  .search-button {
    background-color: #ff6600; 
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }
  
  .search-button svg {
    fill: #fff; 
  }
  
  .search-button:hover {
    background-color: #0056b3; 
  }
  