<nav class="navbar  text-white fixed-top"  *ngIf="rol">
  <div class="container-fluid" >
    
    <a class="navbar-brand text-white" routerLink="/">HOME</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon   "></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bienvenido {{correo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p>{{rol}}</p>
        <hr>
        <!-- PROFESOR --------------------------------------------------------------------------->

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngIf="rol === 'PROFESOR'">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/catalogo">Mis libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/crear_autor">Crear autor</a>
          </li>
          <li class="nav-item">
          
          </li>
          <br>
          <br>
          <br><br><br>
        
        </ul>
        <!-- ESTUDIANTE --------------------------------------------------------------------------->

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngIf="rol === 'ESTUDIANTE'">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Explorar</a>
          </li>
         
          <br>
          <br>
          <br><br><br>
          
        </ul>

        <!-- ADMINISTRADOR --------------------------------------------------------------------------->
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngIf="rol === 'ADMINISTRADOR'">
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/estadisticas">ESTADISTICAS DE INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/nacionalidad"> REGISTRO DE NACIONALIDAD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLin  k="/Registrar_usuarios">REGISTRO DE USUARIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/carrera">REGISTRO DE CARRERAS</a>
          </li>
         
          <br>
          <br>
        
         
        </ul>
        <ul>
          <h4>{{nombre}}</h4>
          <hr>
          <p>Configuraciones</p>
          <br>
          
          <a class="nav-link active" aria-current="page" routerLink="/carrera">Cambio de contraseña</a>

          
          <br><br>
          <div class="nav-item">
                <button type="button" (click)="login_out()"  class="button-inicio btn-danger btn ">Cerrar Sesión</button>
                
          </div>
         </ul>


     
        
      </div>
    </div>
  </div>
</nav>
