<div class="container mt-5">
    <div class="form-group">
        <label for="cedulaInput">Cédula</label>
        <input type="text" class="form-control" id="cedulaInput" name="cedula">
    </div>

    <h3>Actividades</h3>

    <div class="form-group">
        <label for="paraleloSelector">Paralelo</label>
        <select class="form-control" id="paraleloSelector" name="paralelo" [(ngModel)]="paralelo">
            <option value="">Seleccione un paralelo</option>
            <!-- Añade aquí las opciones de paralelos -->
            <option value="paralelo1">Paralelo 1</option>
            <option value="paralelo2">Paralelo 2</option>
            <option value="paralelo3">Paralelo 3</option>
        </select>
    </div>

    <div class="form-group">
        <label for="nivelSelector">Nivel</label>
        <select class="form-control" id="nivelSelector" name="nivel" [(ngModel)]="nivel">
            <option value="">Seleccione un nivel</option>
            <!-- Añade aquí las opciones de niveles -->
            <option value="nivel1">Nivel 1</option>
            <option value="nivel2">Nivel 2</option>
            <option value="nivel3">Nivel 3</option>
        </select>
    </div>

    <div class="form-group">
        <label for="jornadaSelector">Jornada</label>
        <select class="form-control" id="jornadaSelector" name="jornada" [(ngModel)]="jornada"  >
            <option value="">Seleccione una jornada</option>
            <!-- Añade aquí las opciones de jornadas -->
            <option value="mañana">Mañana</option>
            <option value="tarde">Tarde</option>
            <option value="noche">Noche</option>
        </select>
    </div>

    <div class="form-group">
        <label for="actividadesSelector">Actividades</label>
        <select class="form-control" id="actividadesSelector" name="actividades">
            <option value="">Seleccione una actividad</option>
            <!-- Añade aquí las opciones de actividades -->
            <option value="actividad1">Actividad 1</option>
            <option value="actividad2">Actividad 2</option>
            <option value="actividad3">Actividad 3</option>
        </select>
    </div>
    <div>
        <button (click)="registrar()">registrar ingreso</button>
    </div>
</div>