
<div class="container   ">
    <div class="row d-flex justify-content-center align-items-center " style="height: 100vh">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-4 d-none d-md-block">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">ç
                  @for (item of lista; track $index) {
                    @if ($index ==0) {
                      <div class="carousel-item active image-fluid">
                        <img src="assets/carrusel/{{item.imagen}}" style="border-radius: 1rem 0 0 1rem; max-height: 650px;"    class="d-block" alt="...">
                      </div>
                    }@else {
                      <div class="carousel-item  image-fluid">
                        <img src="assets/carrusel/{{item.imagen}}" style="border-radius: 1rem 0 0 1rem; max-height: 650px;"    class="d-block" alt="...">
                      </div>
                    }
                    
                  }
                 
                
                
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
  
                <form>
  
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <!-- <i class="fa-solid fa-bookmark fa-2x me-3" style="color: #ff6219;"></i> -->
                    <span class="h2 fw-bold mb-0 text-center">Solicitud de reseteo de clave</span>
                  </div>
  
  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="email" name="email" [(ngModel)]="username" required placeholder=""class="form-control form-control-lg" >
                    <label class="form-label" for="email">Cedula</label>
                  </div>
  
                
  
                  <div class="pt-1 mb-4 text-center">
                    @if (!mandado) {
                      <button type="button" [disabled]="!username" class="btn btn-dark btn-lg btn-block" (click)="enviar()">
                        Enviar</button>  <a [routerLink]="['/login']" class="btn">login</a>
                       
                    }@else {
                      <div class="btn btn-dark btn-lg btn-block">
                        <div role="status" class="spinner-border text-danger">
                          <span class="sr-only "></span>
                        </div>
                      </div>
                    }
                  </div>
  
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  