<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4 bg-light">
          <h1 class="text-xl font-bold mb-4">Libros asignados a la sección</h1>
          <table class="table table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Código</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (item of libros_asignados; track $index) {
                <tr>
                  <td>{{ item.codigo }}</td>
                  <td>
                    @if (estados[item.id_libro] === '+') {
                      <button class="btn btn-success" (click)="cambiarEstado_libros_elimanados(item.id_libro)">
                        <span class="d-inline-block w-6 h-6 text-center">{{ estados[item.id_libro] || '+' }}</span>
                      </button>
                    } @else if (estados[item.id_libro] === '-') {
                      <button class="btn btn-danger" (click)="cambiarEstado_libros_elimanados(item.id_libro)">
                        <span class="d-inline-block w-6 h-6 text-center">{{ estados[item.id_libro] || '-' }}</span>
                      </button>
                    } @else {
                      <button class="btn btn-success" (click)="cambiarEstado_libros_elimanados(item.id_libro)">
                        <span class="d-inline-block w-6 h-6 text-center">{{ estados[item.id_libro] || '+' }}</span>
                      </button>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card p-4 bg-light">
          <h1 class="text-xl font-bold mb-4">Libros sin asignar</h1>
          <p class="mb-2">Buscar libro</p>
          <input type="text" class="form-control mb-4" (keyup)="trear_Libros_sin_asignar(buscador)" [(ngModel)]="buscador" placeholder="Buscar libro">
          <table class="table table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Código</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (item of libros_sin_asignar; track $index) {
                <tr>
                  <td>{{ item.codigo }}</td>
                  <td>
                    @if (estados[item.id_libro] === '+') {
                      <button class="btn btn-success" (click)="cambiarEstado_libros_agregados(item.id_libro)">
                        <span class="d-inline-block w-6 h-6 text-center">{{ estados[item.id_libro] || '+' }}</span>
                      </button>
                    } @else if (estados[item.id_libro] === '-') {
                      <button class="btn btn-danger" (click)="cambiarEstado_libros_agregados(item.id_libro)">
                        <span class="d-inline-block w-6 h-6 text-center">{{ estados[item.id_libro] || '-' }}</span>
                      </button>
                    } @else {
                      <button class="btn btn-success" (click)="cambiarEstado_libros_agregados(item.id_libro)">
                        <span class="d-inline-block w-6 h-6 text-center">{{ estados[item.id_libro] || '+' }}</span>
                      </button>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-md-4">
        <form [formGroup]="seccion" (ngSubmit)="editar_secion()" class="card p-4 bg-light">
          <label for="nombre" class="form-label text-xl font-bold">Nombre de la sección</label>
          <input formControlName="nombre" autocomplete="off" type="text" id="nombre" class="form-control mb-4" placeholder="Cambiar nombre a sección">
          <button class="btn btn-primary w-100" type="submit">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
  