<div class="container d-flex justify-content-center align-items-center mt-4">
  <form (ngSubmit)="cambio_contra()" class="bg-transparent p-5 rounded-5 text-white shadow" style="width: 25rem">
    <div class="text-center fs-1 fw-bold mt-4">Cambiar Contraseña</div>
    <div class="mb-3 input-group">
      <div class="input-group mt-4">
        <div class="input-group-text bg-dark"></div>
        <input class="form-control" [type]="hide ? 'password' : 'text'" id="contra" name="contra" [(ngModel)]="datos.contra" class="form-control" placeholder="Contraseña nueva" required>
      </div>
      <div class="input-group mt-2">
        <div class="input-group-text bg-dark"></div>
        <input [type]="hide ? 'password' : 'text'" id="repeatContra" name="repeatContra" [(ngModel)]="datos.repeatContra" class="form-control" placeholder=" Repetir contraseña" required>
      </div>
      <div class="input-group-append mt-4">
        <button type="submit" class="btn btn-secondary" [disabled]="!datos.contra">Cambiar</button>
      </div>
    </div>
    @if (mensaje) {
      <p class="alert alert-danger">
        {{mensaje}}
      </p>
    }
    @if (mensaje_2) {
      <p class="alert alert-success">
        {{mensaje_2}}
      </p>
    }
  </form>
</div>
