

<div class="container mt-5">
  <!-- Formulario -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="estante" (ngSubmit)="crear()" class="card p-4 shadow rounded">
        <div class="mb-3">
          <label for="first_name" class="form-label">Nombre del estante</label>
          <input formControlName="nombre" autocomplete="off" type="text" id="first_name" class="form-control custom-input" placeholder="Nombre del estante" />
        </div>
        @if (loading) {

          <button class="btn btn-primary w-100 mt-3 custom-button" type="submit">Crear</button>
        }@else {
          <div class="btn btn-primary  w-100 mt-3 custom-button">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        }
      </form>
    </div>
  </div>

  <!-- Tabla de Estantes -->
  <div class="row justify-content-center mt-5">
    <div class="col-md-10">
      <table class="table table-bordered table-hover text-center custom-table">
        <thead class="table-light">
          <tr>
            <th>Nombre del estante</th>
            <th>Eliminar</th>
            <th>Ver secciones</th>
          </tr>
        </thead>
        <tbody>
          @for (item of lista_estante; track $index) {
            <tr class="{{ $index % 2 === 0 ? 'table-secondary' : '' }}">
              <td>{{ item.nombre }}</td>
              <td>
                @if (loading) {

                  <button class="btn btn-danger custom-btn-delete" (click)="eliminar_estante(item.id_estante)">Eliminar</button>
                }

                @else {
                  <div class="btn btn-danger custom-btn-delete">
                    <div class="spinner-border" role="status">
                      <span class="sr-only"></span>
                    </div>
                  </div>
                }
              </td>
              <td>
                <a [routerLink]="['../secciones/'+item.id_estante]" class="btn btn-warning custom-btn-view">Ver secciones del estante</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>