<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="estante" (ngSubmit)="crear()" class="card p-4 shadow-sm rounded">
          <div class="mb-3">
            <label for="first_name" class="form-label">Nombre del estante</label>
            <input formControlName="nombre" autocomplete="off" type="text" id="first_name" class="form-control" placeholder="Nombre del estante" />
          </div>
          <button class="btn btn-primary w-100 mt-3" type="submit">Crear</button>
        </form>
      </div>
    </div>
  
    <div class="row justify-content-center mt-5">
      <div class="col-md-10">
        <table class="table table-bordered table-hover text-center">
          <thead class="table-light">
            <tr>
              <th>Nombre del estante</th>
              <th>Eliminar</th>
              <th>Ver secciones</th>
            </tr>
          </thead>
          <tbody>
            @for (item of lista_estante; track $index) {
              <tr class="{{ $index % 2 === 0 ? 'table-secondary' : '' }}">
                <td>{{ item.nombre }}</td>
                <td>
                  <button class="btn btn-danger" (click)="eliminar_estante(item.id_estante)">Eliminar</button>
                </td>
                <td>
                  <a [routerLink]="['../secciones/'+item.id_estante]" class="btn btn-warning">Ver secciones del estante</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  