<div class="container " >
  <div class="row justify-content-end align-items-center" style="height: 70vh;">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="text-center mb-4">Crear Autor</h2>
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre:</label>
              <input type="text" id="nombre" name="nombre" [(ngModel)]="Nombre" class="form-control" required>
            </div>
            <div class="text-center">
              <button type="button" (click)="crearAutor()" class="btn btn-primary">Crear Autor</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div >
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Autor</th>
          <td>aciones</td>
        </tr>
      </thead>
      <tbody>
        @for (autor of aut; track autor) {
          <tr   >
            <td>{{ autor.nombre }}</td>
            <td>
              <button class="bg-transparent btn btn-danger" (click)="autor.id_autor !== undefined ? borrar(autor.id_autor.toString()) : null">
                <span class="text-danger" >Eliminar</span>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
