/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  background-image: url('https://www.ultimasnoticias.ec/files/article_main/uploads/2016/01/01/5D66A8E8-7F87-4E31-B033-533E2A96598F.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

body{
  background-color: aqua;
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: #ebebebb2;
  } 
  
  .card-body {
    margin-bottom: 20px;
  }
  
  
  
  .text-center {
    text-align: center;
    color: white;
  }
  
  .button-autor {
    margin: 0 10px;
    border-radius: 10px;
    border-color: #553CEC;
    background-color: #553CEC;
    color: white;
  }
  
  