/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  background-color: aqua;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    background-color: #302f33b2;
  } 

  .form-label {
    color: white;
  }
  
  .card-body {
    margin-bottom: 20px;
  }
    
  .text-center {
    text-align: center;
    color: white;
  }

  .btn-primary {
    background-color: blueviolet;
    align-items: center;
  }
  
  .button-autor {
    margin: 0 10px;
    border-radius: 10px;
    border-color: #553CEC;
    background-color: #553CEC;
    color: white;
  }
  
  